@model Airline

@{
    ViewData["Title"] = "Edit Airline";
}

<div class="container mt-4">
    <h2>Edit Airline</h2>

    <form method="post" asp-action="EditAirline" enctype="multipart/form-data">

        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="mb-3">
            <label>Code</label>
            <input type="text" name="Code" class="form-control" value="@Model.Code" required />
        </div>

        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="Name" class="form-control" value="@Model.Name" required />
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea name="Description" class="form-control">@Model.Description</textarea>
        </div>

        <div class="mb-3">
            <label>Current Logo</label><br />
            <img src="~/Logos/@Model.logo" width="100" />
        </div>

        <div class="mb-3">
            <label>Upload New Logo</label>
            <input type="file" name="logo" class="form-control" accept="image/*" />
        </div>

        <button type="submit" class="btn btn-primary">Confirm</button>
        <a href="/Admin/Airline/Airlines" class="btn btn-danger">Cancel</a>

    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById("confirmBtn").addEventListener("click", function () {
        Swal.fire({
            title: "Are you sure?",
            text: "You are about to update this airline!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, update it!"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("editForm").submit();
            }
        });
    });
</script>
